@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600&display=swap');

:root {
    --color-charcoal-blue: #2d4256;
    --color-strong-white: #f9fafd;
    --color-saffron: #fcc02e;
    --color-femenine-gray: #b2b1ad;
    --color-primary: var(--color-charcoal-blue);
    --color-secondary: var(--color-strong-white);
    --color-disabled: var(--color-femenine-gray);
}

* {
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    background-color: var(--color-secondary);
}
